$page-background: #F2F3F5;
$basic-black: #000000;
$basic-white: #FFFFFF;

$darker-border: #CDD0D6;
$dark-border: #D4D7DE;
$base-border: #DCDFE6;

$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;

