$top-shadow: 0px -5px 10px -5px;
$right-shadow: 5px 0 10px -5px;
$bottom-shadow: 0 5px 10px -5px;
$left-shadow: -5px 0 10px -5px;
$left-top-shadow: -5px -5px 10px -4px;
$right-top-shadow: 5px -5px 10px -4px;
$right-bottom-shadow: 5px 5px 10px -4px;
$left-bottom-shadow: -5px 5px 10px -4px;
$shadow: 0 0 10px;
